@model IEnumerable<ProjetoMyTe.AppWeb.Models.Entities.RegistroHora>

@{
    ViewData["Title"] = "ListarRegistros";
}

<h1>ListarRegistros</h1>

<p>
    <a asp-action="IncluirRegistro" class="btn btn-primary">Novo registro +</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdWbs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdWbs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                <a asp-action="AlterarRegistro" asp-route-id="@item.Id">Alterar</a>
                <a asp-action="RemoverRegistro" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
