@model ProjetoMyTe.AppWeb.Models.Entities.RegistroHora

@{
    ViewData["Title"] = "RemoverRegistro";
}

<h3>Tme certeza que desejas remover esse registro?</h3>
<div>
    
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdWbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdWbs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd> *@
    
    
    <form asp-action="RemoverRegistro">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Sim, remover" class="btn btn-danger" /> |
        <a asp-action="ListarRegistros">Não, voltar para a lista</a>
    </form>
</div>
